<!DOCTYPE html>
<html lang="en-us">

<head>
    
    <meta charset="UTF-8">

    <title>Mission to Mars</title>

    <!-- Bring in local CCS file -->
    <link rel="stylesheet" href="assets/style.css">
    
 

</head>

<body>


<h1>Mission to Mars</h1>
<a href="/scrape" type="button" class="btn btn-primary btn-sm">Scrape New Data</a>
<h2>Latest Mars News</h2>


{% for i in marsquery %}
<h5>{{ marsquery["news_title"][0] }}</h5>
 <p>{{ marsquery["paragraph_text"][0] }}</p>
 <!--<{% endfor %}-->

<h2>Featured Mars Image</h2>
<img src="{{ marsquery.featured_image_url }}" alt="mars image">

<h5>Mars Facts</h4>
<!--<{% for i in range(1) %}-->

<!--Info on how to make jinja template render html tags correctly-->
<!--https://overiq.com/flask-101/basics-of-jinja-template-language/-->
{{ marsquery.mars_table|safe }}


<!--<{% endfor %}-->

<h4>Mars Hemispheres</h4>

<h5>{{ marsquery["hemheader"][0] }}</h5>
<img src="{{ marsquery.hemisphere_image_urls[0] }}" alt="mars image">



</body>