<!DOCTYPE html>
<html lang="en-us">

<head>
    
    <meta charset="UTF-8">

    <title>Mission to Mars</title>

    <!-- Bring in local CCS file -->
    <link rel="stylesheet" href="assets/style.css">
    
    <!-- Bring in bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!--Enable including html snippets from another file-->
    <!--<link rel="import" href="mars_fact.html">-->

</head>

<body>

<!--Consider this activating jinja template-->
{% for i in range(1) %}

<!-- Rows function in containers (grid created). -->
<div class="container">

    <!-- Our columns function in rows. -->
    <div class="row bg-light">

        <!-- Title box  - full rows -->
        <div class="col-md-12 text-center p-5">

            <h1>Mission to Mars</h1>
            <a href="/scrape" type="button" class="btn btn-primary btn-sm">Scrape New Data</a>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <h2>Latest Mars News</h2>
            
            <h5>{{ marsquery["news_title"][0] }}</h4>
            <p>{{ marsquery["paragraph_text"][0] }}</p>

        </div>

    </div>

    <div class="row">

        <div class="col-md-8">

            <h2>Featured Mars Image</h2>
            <img src="{{ marsquery.featured_image_url }}" alt="mars image">

        </div>

        <div class="col-md-4">

            <h5>Mars Facts</h4>
            <!--Info on how to make jinja template render html tags correctly-->
            <!--https://overiq.com/flask-101/basics-of-jinja-template-language/-->
            {{ marsquery.mars_table|safe }}

        </div>
        

    </div>

    <div class="row">

        <div class="col-md-12">

            <h4>Mars Hemispheres</h4>

        </div>
    </div>

    <div class="row">

        <div class="col-md-8">

            <div class="card">
                <img class="card-img-top" src="{{ marsquery.hemisphere_image_urls[0] }}" alt="Card image cap">
                <div class="card-body">
                    <h5>{{ marsquery["hemheader"][0] }}</h5>
                </div>
            </div>

        </div>

        <div class="col-md-8">

            <div class="card">
                <img class="card-img-top" src="{{ marsquery.hemisphere_image_urls[1] }}" alt="Card image cap">
                <div class="card-body">
                    <h5>{{ marsquery["hemheader"][1] }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8">

            <div class="card">
                <img class="card-img-top" src="{{ marsquery.hemisphere_image_urls[2] }}" alt="Card image cap">
                <div class="card-body">
                    <h5>{{ marsquery["hemheader"][2] }}</h5>
                </div>
            </div>

        </div>

        <div class="col-md-8">

            <div class="card">
                <img class="card-img-top" src="{{ marsquery.hemisphere_image_urls[3] }}" alt="Card image cap">
                <div class="card-body">
                    <h5>{{ marsquery["hemheader"][3] }}</h5>
                </div>
            </div>

        </div>
    
    </div>

</div>
{% endfor %}
    
</body>